<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css' ) }}">
</head>
<body>
    {% include 'header.html'   %}
    <div id="register-holder">
        <h1 id="reg-title">Login</h1>
        {{  issue | safe}}
        <form action="/login" method="post" id="register-form">
            <input class="register-item" type="email" name="email" placeholder="jhon.doe@email.whatever">
            <br>
            <input class="register-item" type="password" name="pword" id="pword" placeholder="Password">
            <br>
            <input type="submit" value="Login">
        </form>
        
        <p>Don't have an account, then you can <a href="/register" id="underbtn">register</a></p>
    </div>
</body>
</html>